/* Generell styling för hela dokumentet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #eef2f3, #8e9eab);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  min-height: 1080px;
  line-height: 1.8em;
}

.hidden {
  display: none;
}

/* Styling för vår gridContainer som innehåller allt content på sidan */
.gridContainer {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
}

/* Styling för rubriken*/
h1 {
  grid-area: 1/2/1/-1;
  padding-top: 1em;
}

/* Styling för div:en searchArea som innehåller labeln, inputfältet och de <p>-taggar som diven innehåller vid sökning */
.searchArea {
  margin-top: 20px;
  grid-area: 2/2/3/6;
}

.searchArea > label {
  font-weight: bold;
}

#error-txt {
  font-weight: bold;
  color: rgb(224, 13, 13);
  width: 400px;
  font-style: italic;
}

.errorInfo {
  font-weight: bold;
  color: rgb(224, 13, 13);
  font-style: italic;
}

#inputSearch {
  padding: 12px 5px;
  margin: 8px 0px;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  width: 400px;
}

#searchResults {
  box-shadow: 0px 5px 15px 0px #3f3f3f;
}

#searchResults > p {
  cursor: pointer;
  background-color: rgb(141, 157, 170, 0.5);
  padding-left: 5px;
}

#searchResults > p:hover {
  background-color: rgba(114, 131, 145, 0.5);
  font-weight: bold;
}

/* Styling för div:en infoBox som innehåller informationen om en specifik film */
#infoBox {
  grid-area: 2 / 7 /3/12;
  height: auto;
  background-color: rgba(102, 113, 122, 0.5);
  box-shadow: 0px 5px 15px 0px #3f3f3f;
  padding: 0px 10px 10px 10px;
}

#infoBox > p > span {
  font-weight: bold;
}

#infoBox > p > a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  opacity: 0.85;
}

#infoBox > p > a > img:hover {
  opacity: 1;
}

#infoBox > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}